.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.git/**
.github/**
out/test/**
test/**
webpack.config.js
**/node_modules/**
**/.vscode/**
**/.vscode-test/**
**/.idea/**
**/.DS_Store
**/coverage/**
**/docs/**
**/examples/**
**/test/**
**/tests/**
**/temp/**
**/tmp/**
**/dist/** 